<!-- <div class="row">
	<div class="span4">
		<h2><a href="/failed/t">failed['total']</a></h2>
	</div>
	<div class="span4">
		<h2>count<small>Jobs</small></h2>
	</div>
</div> -->

<% failed['jobs'].each do |job| %>
<div class="row">
	<div class="span4">
		<div class="row">
			<div class="span12">
				<h3>
					<a href="/jobs/<%= job.id %>"><%= job.id %></a>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div>
					<p>
						<div class="btn-group">
							<button class="btn btn-danger" id="cancel" onclick="cancel('<%= job.id %>')">cancel</button>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								move
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<% queues.each do |queue| %>
								<a href="#" onclick="move('<%= job.id %>', '<%= queue['name'] %>')"><%= queue['name'] %></a>
								<% end %>
							</ul>
							<button class="btn" id="track" onclick="track('<%= job.id %>')">track</button>
							<% if (job.state == 'failed') %>
							<button class="btn btn-success" onclick="retry('<%= job.id %>')">retry</button>
							<% end %>
						</div>
					</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="span8">
		<p>In <span class="label label-inverse"><%= job.queue %></span> on <strong><%= job.history[-1]['worker'] %></strong>
			at <%= strftime(Time.at(job.history[-1]['failed'])) %></p>
		<pre><%= job.failure['message'] %></pre>
	</div>
</div>
<hr/>
<% end %>