<table>
	<tr>
		<th>Job ID</th>
		<th>Worker</th>
		<th>Tags</th>
		<th>Queue</th>
		<th>When</th>
		<th>Message</th>
	</tr>
	<% failed['jobs'].each do |job| %>
	<tr>
		<td><a href="/jobs/<%= job.id %>"><%= job.id %></td>
		<td><%= job.worker %></td>
		<td><%= job.tags.join(',') %></td>
		<td><%= job.queue %></td>
		<td><%= Time.at(job.history[-1]['failed']) %></td>
		<td><%= job.failure['message'] %></td>
	</tr>
	<% end %>
</table>
