<script type="text/javascript">
	var job = {
		id   : "<%= job.id %>",
		state: "<%= job.state %>"
	}
	
	$(document).ready(function() {
		/* Make some of our buttons clickable */
		if (job.state == 'failed') {
		}
	});
</script>

<div class="job">
	<div class="job-title">
		<span class="job-id"><%= job.id %></span>
		<div class="button cancel-button" id="cancel">cancel</div>
		<div class="button move-button"   id="move"  >move  </div>
		<div class="button track-button"  id="track" >track </div>
		<% if (job.state == 'failed') %>
		<div class="button retry-button"  id="retry" >retry </div>
		<% end %>
		<span class="job-priority">(Priority: <%= job.priority >= 0 ? "+#{job.priority}" : job.priority %>)</span>
	</div>
	<div class="job-tags">
		<% job.tags.each do |tag| %>
		<div class="button job-tag"><%= tag %></div>
		<% end %>
	</div>
	<div class="job-summary">
		Is <span class="job-state"><%= job.state %></span> in queue <span class="job-queue"><%= job.queue %></span>
		on worker "<span class="job-worker"><%= job.worker.empty? ? 'none' : job.worker %></span>."
	</div>
</div>

<table>
	<tr><td>expires</td><td><%= job.expires > 0 ? Time.at(job.expires) : '' %></td></tr>
	<tr><td>retries</td><td><%= job.retries %></td></tr>
	<tr><td>remaining</td><td><%= job.remaining %></td></tr>
</table>
<% if job.failure.length > 0 %>
Failure:
<table>
	<tr><td>type</td><td><%= job.failure['type'] %></td></tr>
	<tr><td>message</td><td><%= job.failure['message'] %></td></tr>
	<tr><td>when</td><td><%= Time.at(job.failure['when']) %></td></tr>
	<tr><td>worker</td><td><%= job.failure['worker'] %></td></tr>
</table>
<% end %>
History:
<table>
	<tr>
		<th>Queue</th>
		<th>Put</th>
		<th>Worker</th>
		<th>Popped</th>
		<th>Completed</th>
	</tr>
	<% job.history.each do |h| %>
	<tr>
		<td><%= h['queue'] %></td>
		<td><%= Time.at(h['put']) %></td>
		<td><%= h['worker'].length == 0 ? '-' : h['worker'] %></td>
		<td><%= h['popped'].nil? ? '-' : Time.at(h['popped']) %></td>
		<td><%= h['completed'].nil? ? '-' : Time.at(h['popped']) %></td>
	</tr>
	<% end %>
</table>
