<!-- CodeMirror -->
<!-- <script src="/js/codemirror.js"></script>
<script src="/js/mode/javascript.js"></script>
<link rel="stylesheet" href="/css/codemirror.css"> -->

<% if job.nil? %>
	<div class="row">
		<div class="span12">
			<h1><%= jid %> doesn't exist, was canceled, or expired</h1>
		</div>
	</div>
<% else %>
	<!-- Buttons! -->
	<script type="text/javascript">
		var job = {
			id   : "<%= job.id %>",
			state: "<%= job.state %>"
		}
		
		var retry = function(jid, queue) {
			flash('Retrying ' + jid);
		}
		
		$(document).ready(function() {
			/* Make some of our buttons clickable */
			if (job.state == 'failed') {
				$('#retry').click(function() {
					flash('Retry not implemented');
				});
			}
			
			// CodeMirror.fromTextArea($('#data')[0], {
			// 	mode: 'javascript',
			// 	lineNumbers: true
			// }).setValue(JSON.stringify(<%= JSON.generate(job.data) %>, undefined, 2));
		});
	</script>

	<div class="row">
		<div class="span8">
			<h1><%= job.id %></h1>
		</div>
		<div class="span4">
			<div style="float:right">
				<p>
					<div class="btn-group">
						<button class="btn btn-danger" id="cancel" onclick="cancel('<%= job.id %>')">cancel</button>
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							move
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<% queues.each do |queue| %>
							<a href="#" onclick="move('<%= job.id %>', '<%= queue['name'] %>')"><%= queue['name'] %></a>
							<% end %>
						</ul>
						<button class="btn" id="track" onclick="track('<%= job.id %>')">track</button>
						<% if (job.state == 'failed') %>
						<button class="btn btn-success" onclick="retry('<%= job.id %>')">retry</button>
						<% end %>
					</div>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<p>
				<span class="label<%= job.state == 'failed' ? ' label-important' : 'label-success' %>"><%= job.state %></span>
				in <span class="label label-inverse"><%= job.queue %></span> on <span class="label label-inverse"><%= job.worker.empty? ? 'none' : job.worker %></span> with <span class="job-remaining"><%= job.remaining %></span> / </span class="job-retries"> <%= job.retries %></span> retries.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<p>Priority: 
				<% if job.priority < 0 %>
				<span class="badge badge-success"><%= job.priority %></span>
				<% elsif job.priority == 0 %>
				<span class="badge"><%= job.priority %></span>
				<% else %>
				<span class="badge badge-error">+<%= job.priority %></span>
				<% end %>
			
			Tags: 
				<% job.tags.each do |tag| %>
				<span class="label label-inverse"><%= tag %></span>
				<% end %>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<!--<textarea id='data'></textarea> -->
		</div>
	</div>

	<% if job.failure.length > 0 %>
	<div class="row">
		<div class="span12">
			<div class="alert alert-error">
				<strong><%= job.failure['message'] %></strong> at <%= strftime(Time.at(job.failure['when'])) %> on <%= job.failure['worker'] %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="span12">
			<h1>History</h1>
			<% job.history.each do |h| %>
			<div class="well">
				<ol>
					<li><strong>Put</strong> on <%= h['queue'] %> at <%= strftime(Time.at(h['put'])) %></li>
			
					<% if not h['popped'].nil? %>
					<li><strong>Popped</strong> at <%= strftime(Time.at(h['popped'])) %></li>
					<% end %>
			
					<% if not h['completed'].nil? %>
					<li><strong>Completed</strong> at <%= strftime(Time.at(h['completed'])) %></li>
					<% end %>
				</ol>
			</div>
			<% end %>
		</div>
	</div>
<% end %>