<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>qless<%= (title.length == 0) ? '' : (' | ' + title) %></title>
  <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
  <div class="header">
    <ul class='nav'>
      <% tabs.each do |tab| %>
	  	<li><a href='<%= tab[:path] %>'><%= tab[:name] %></a></li>
      <% end %>
    </ul>
  </div>

  <% if @subtabs %>
    <ul class='subnav'>
      <% for subtab in @subtabs %>
        <li <%= class_if_current "#{current_section}/#{subtab}" %>><a href="<%= current_section %>/<%= subtab %>"><span><%= subtab %></span></a></li>
      <% end %>
    </ul>
  <% end %>

<div id="main">
  <%= yield %>
</div>

<div id="footer">
  <p>Powered by <a href="http://github.com/seomoz/qless">qless</a> v<%=Qless::VERSION%></p>
  <p>Layout shamelessly poached from resque</p>
</div>

</body>
</html>