<% if queues.empty? %>
  <div class="page-header">
    <h1>No Queues <small>I wish I had some queues :-/</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Queues <small>And their job counts</small></h1>
  </div>

  <% queues.each do |queue| %>
  <div class="row">
    <div class="span4">
      <h3><a href="/queues/<%= queue['name'] %>"><%= queue['name'] %></a></h3>
    </div>
    <div class="span8">
      <h3> |
        <%= queue['running']   %> /
        <%= queue['waiting']   %> /
        <%= queue['scheduled'] %> /
        <%= queue['stalled']   %> /
        <%= queue['depends']   %> <small>(running / waiting / scheduled / stalled / depends)</small>
      </h3>
    </div>
  </div>
  <% end %>
<% end %>

<% if failed.empty? %>
  <div class="page-header">
    <h1>No Failed Jobs <small>Clean as a whistle</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Failed Jobs <small>D'oh!</small></h1>
  </div>
  <% failed.each do |f| %>
  <div class="row">
    <div class="span4">
      <h3><a href="/failed/<%= f[0] %>"><%= f[0] %></a></h3>
    </div>
    <div class="span8">
      <h3>| <%= f[1] %> <small>Jobs</small></h3>
    </div>
  </div>
  <% end %>
<% end %>

<% if workers.empty? %>
  <div class="page-header">
    <h1>No Workers <small>Nobody's doin' nothin'!</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Current Workers <small>And their job counts</small></h1>
  </div>

  <% workers.each do |worker| %>
  <div class="row">
    <div class="span4">
      <h3><a href="/workers/<%= worker['name'] %>"><%= worker['name'] %></a></h3>
    </div>
    <div class="span8">
      <h3>| <%= worker['jobs'] %> / <%= worker['stalled'] %> <small>Running / Stalled</small></h3>
    </div>
  </div>
  <% end %>
<% end %>
