<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawCharts);
	
	function drawCharts() {
		drawChart(<%= JSON.generate(stats['wait']['histogram']) %>, 'wait-chart', 'Job Wait Time');
		drawChart(<%= JSON.generate(stats['run' ]['histogram']) %>, 'run-chart' , 'Job Run Time');
	}
	
	function drawChart(d, id, title) {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Time');
		data.addColumn('number', title);
		
		var _data = [];		
		for (var i = 0; i < 60; ++i) {
			_data.push([i + ' seconds', d[i]]);
		}
		for (var i = 1; i < 60; ++i) {
			_data.push([i + ' minutes', d[59 + i]]);
		}
		for (var i = 1; i < 24; ++i) {
			_data.push([i + ' hours', d[118 + i]]);
		}
		for (var i = 1; i < 7; ++i) {
			_data.push([i + ' days', d[141 + i]]);
		}
		data.addRows(_data);
		
		var options = {
		  legend: {position: 'none'},
		  chartArea: { width:"80%", height:"80%" }
		};
		
		var chart = new google.visualization.SteppedAreaChart(document.getElementById(id));
		chart.draw(data, options);
	}
</script>

<div class="row">
	<div class="span8">
		<h1><a href="/queues/<%= queue['name'] %>"><%= queue['name'] %></a> |
			<%= queue['running']   %> /
			<%= queue['waiting']   %> /
			<%= queue['scheduled'] %> /
			<%= queue['stalled']   %> <small>(running / waiting / scheduled / stalled)</small>
		</h1>
	</div>
	
	<div class="span4">
		<div style="float:right">
			<h1>
				<%= stats['failed']    %> /
				<%= stats['failures']  %> /
				<%= stats['retries']   %> <small>(failed / failures / retries)</small>
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div class="well">
			<div class="row">
				<div class="span12">
					<h3>Waiting</h3>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h3>
						<%= stats['wait']['count'] %> /
						<%= sprintf('%10.3f', stats['wait']['mean']) %> /
						<%= sprintf('%10.3f', stats['wait']['std']) %> <small>Total / Mean / Std. Deviation</small>
					</h3>
				</div>
			</div>
			<div id="wait-chart" class="queue-stats-time-histogram-wait" style="height: 500px"></div>
		</div>
	</div>
	
	<div class="span6">
		<div class="well">
			<div class="row">
				<div class="span12">
					<h3>Running</h3>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h3>
						<%= stats['run']['count'] %> /
						<%= sprintf('%10.3f', stats['run']['mean']) %> /
						<%= sprintf('%10.3f', stats['run']['std']) %> <small>Total / Mean / Std. Deviation</small>
					</h3>
				</div>
			</div>
		
			<div id="run-chart"  class="queue-stats-time-histogram-run"  style="height: 500px"></div>
		</div>
	</div>
</div>
