<% queues.each do |queue| %>
<div class="row">
	<div class="span12">
		<h1><a href="/queues/<%= queue['name'] %>"><%= queue['name'] %></a> |
			<%= queue['running']   %> /
			<%= queue['waiting']   %> /
			<%= queue['scheduled'] %> /
			<%= queue['stalled']   %> <small>(running / waiting / scheduled / stalled)</small>
		</h1>
	</div>
</div>
<% end %>
