<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawCharts);

  function drawCharts() {
    drawChart(<%= JSON.generate(stats['wait']['histogram']) %>, 'wait-chart', 'Jobs / Minute');
    drawChart(<%= JSON.generate(stats['run' ]['histogram']) %>, 'run-chart' , 'Jobs / Minute');
  }

  function drawChart(d, id, title) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', title);

    var _data = [];
    for (var i = 0; i < 60; ++i) {
      _data.push([i + ' seconds', d[i] * 60]);
    }
    for (var i = 1; i < 60; ++i) {
      _data.push([i + ' minutes', d[59 + i]]);
    }
    for (var i = 1; i < 24; ++i) {
      _data.push([i + ' hours', d[118 + i] / 60]);
    }
    for (var i = 1; i < 7; ++i) {
      _data.push([i + ' days', d[141 + i] / 1440]);
    }
    data.addRows(_data);

    var options = {
      legend: {position: 'none'},
      chartArea: { width:"80%", height:"80%" }
    };

    var chart = new google.visualization.SteppedAreaChart(document.getElementById(id));
    chart.draw(data, options);
  }
</script>

<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <li class="<%= tab == 'stats'     ? 'active' : '' %>"><a href="<%= u "/queues/#{queue['name']}/stats" %>">Stats</a></li>
    <li class="<%= tab == 'running'   ? 'active' : '' %>"><a href="<%= u "/queues/#{queue['name']}/running" %>">Running</a></li>
    <li class="<%= tab == 'waiting'   ? 'active' : '' %>"><a href="<%= u "/queues/#{queue['name']}/waiting" %>">Waiting</a></li>
    <li class="<%= tab == 'scheduled' ? 'active' : '' %>"><a href="<%= u "/queues/#{queue['name']}/scheduled" %>">Scheduled</a></li>
    <li class="<%= tab == 'stalled'   ? 'active' : '' %>"><a href="<%= u "/queues/#{queue['name']}/stalled" %>">Stalled</a></li>
    <li class="<%= tab == 'depends'   ? 'active' : '' %>"><a href="<%= u "/queues/#{queue['name']}/depends" %>">Depends</a></li>
  </ul>
</div>

<div id="alerts" style="margin-top: 40px"></div>

<div class="row">
  <div class="span8">
    <h2><a href="<%= u "/queues/#{queue['name']}" %>"><%= queue['name'] %></a> |
      <%= queue['running']   %> /
      <%= queue['waiting']   %> /
      <%= queue['scheduled'] %> /
      <%= queue['stalled']   %> /
      <%= queue['depends']   %> <small>(running / waiting / scheduled / stalled / depends)</small>
    </h2>
  </div>

  <div class="span4">
    <div style="float:right">
      <h2>
        <%= stats['failed']    %> /
        <%= stats['failures']  %> /
        <%= stats['retries']   %> <small>(failed / failures / retries)</small>
      </h2>
    </div>
  </div>
</div>

<% if ['running', 'waiting', 'scheduled', 'stalled', 'depends'].include?(tab) %>
  <hr/>
  <%= erb :_job_list, :locals => { :jobs => jobs, :queues => queues } %>
<% else %>
  <div class="row" style="margin-top: 15px">
    <div class="span6">
      <div class="well">
        <div class="row">
          <div class="span12">
            <h3>Waiting</h3>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h3>
              <%= stats['wait']['count'] %> /
              <%= sprintf('%10.3f', stats['wait']['mean']) %> /
              <%= sprintf('%10.3f', stats['wait']['std']) %> <small>Total / Mean / Std. Deviation</small>
            </h3>
          </div>
        </div>
        <div id="wait-chart" class="queue-stats-time-histogram-wait" style="height: 500px"></div>
      </div>
    </div>

    <div class="span6">
      <div class="well">
        <div class="row">
          <div class="span12">
            <h3>Running</h3>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h3>
              <%= stats['run']['count'] %> /
              <%= sprintf('%10.3f', stats['run']['mean']) %> /
              <%= sprintf('%10.3f', stats['run']['std']) %> <small>Total / Mean / Std. Deviation</small>
            </h3>
          </div>
        </div>

        <div id="run-chart"  class="queue-stats-time-histogram-run"  style="height: 500px"></div>
      </div>
    </div>
  </div>
<% end %>
