<% if throttles.empty? %>
  <div class="page-header">
    <h1>No Queues To Throttle <small>What a fine predicament to be in...</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Throttles <small>By queue.</small></h1>
  </div>

  <% throttles.each do |throttle| %>
  <div class="row">
    <div class="span3">
      <h3>
        <%= throttle.id %>
      </h3>
    </div>
    <div class="span2">
      <div style="float:right; margin-right; 12px; margin-top: 4px">
        <div class="btn-group">
          <input class="span1 maximum throttle-<%= throttle.id %>" type="text" placeholder="<%= throttle.maximum %>" onchange="update_throttle('<%= throttle.id %>', $(this).val())"></input>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="btn-group" style="float:left; margin-top: 4px">
        <button title="delete" class="btn btn-danger" onclick="confirmation(this, 'Delete?', function() { delete_throttle('<%= throttle.id %>', fade) })">
          <i class="icon-remove"></i>
        </button>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
